<a href="https://colab.research.google.com/github/anshika-sys/SAMSUNG-INNOVATION-CAMPUS/blob/main/Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

A function with input arguments and a returned value:

In [ ]:
def prod(a,b):
    x = a*b
    return x
prod(3,4)

12

A function without input argument:

In [ ]:
def output():
    return  'Hello World!'
print(output())

Hello World!

A function without returned value:

In [ ]:
def times3(a):
    print(3*a)
    return
times3(7)

21

A function without input argument nor returned value:

In [ ]:
sum_total = 0
def increase():
    global sum_total
    for i in range(11):
        sum_total += i
increase()
sum_total

55

A function with undetermined number of input arguments:

In [ ]:
def sum_up(*vals):
    total = 0
    for x in vals:
        total += x
    return total

In [ ]:
sum_up(1,2,3)

6

In [ ]:
sum_up(1,2,3,4,5)

15

A function with multiple return values:

In [ ]:
def ArithmeticOprs(a,b):
    return a + b, a-b, a * b, a/b

In [ ]:
type(ArithmeticOprs(4,2))

tuple

In [ ]:
ArithmeticOprs(4,2)

(6, 2, 8, 2.0)

Default values for the input arguments:

In [ ]:
def ArithmeticOprs(a=2,b=1):
    return a + b, a - b, a * b, a/b

In [ ]:
ArithmeticOprs()

(3, 1, 2, 2.0)

In [ ]:
ArithmeticOprs(3)

(4, 2, 3, 3.0)

In [ ]:
ArithmeticOprs(b=3)

(5, -1, 6, 0.6666666666666666)

A local variable's scope is limited to the function body where it is defined:

In [ ]:
# 'result' inside of the function body and 'result' outside of it are different variables.
result = 333
def average(*a):
    result = 0
    for x in a:
        result += x
    result /= len(a)
    return result

In [ ]:
average(1,2,3,4,5)

3.0

In [ ]:
# 'result' defined outside of the function kept its original value.
result

333

As 'result' is defined as a global variable, it is the same as the one defined outside of the function body.

In [ ]:
# Please, notice that there is no explicit return value.
result = 0
def average(*a):
    global result
    for x in a:
        result += x
    result /= len(a)
    return

In [ ]:
average(1,2,3,4,5)

In [ ]:
# Now, 'result' contains the value calculated byh the function.
result

3.0

#### 1.2. Lambda functions:

In [ ]:
# This function returns a lambda function.
def makeMyFunc(a):
    return lambda x: a*x

In [ ]:
# Assign lambda function to a variable, so that it can be used just like any other function.
myFunc = makeMyFunc(3)

In [ ]:
type(myFunc)

function

In [ ]:
myFunc(4)

12

Lambda function with map() and filter():

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Map the lambda function to each element of the list.
list(map(lambda x: x * 2, a))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
# Filter the list elements according to the condition given by the lambda function.
list(filter(lambda x: x % 3 ==0, a))

[3, 6, 9]

#### 1.3. Custom modules:

In [ ]:
# Download the example module from the GitHub repo if it does not exist locally
!wget --no-clobber https://raw.githubusercontent.com/stefannae/SIC-Artificial-Intelligence/main/SIC_AI_Coding_Exercises/SIC_AI_Chapter_02_Coding_Exercises/myModule.py

--2025-08-19 04:39:41--  https://raw.githubusercontent.com/stefannae/SIC-Artificial-Intelligence/main/SIC_AI_Coding_Exercises/SIC_AI_Chapter_02_Coding_Exercises/myModule.py
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 246 [text/plain]
Saving to: ‘myModule.py’

myModule.py         100%[===================>]     246  --.-KB/s    in 0s

2025-08-19 04:39:41 (3.33 MB/s) - ‘myModule.py’ saved [246/246]

In [ ]:
import myModule as md

In [ ]:
md.sum(3,4)

7

In [ ]:
md.product(4,5)

20