<a href="https://colab.research.google.com/github/anshika-sys/SAMSUNG-INNOVATION-CAMPUS/blob/main/function2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1. A function that returns the absolute value:

In [1]:
def ABS(x):
    if x >= 0:
        result = x
    else:
        result = -x
    return result

In [2]:
ABS(3)

3

In [3]:
ABS(-7)

7

### 2. A function that returns the maximum value:

In [4]:
def MAX(x):
    n = len(x)
    my_max = x[0]                 # Initialize the maximum with the first element.
    for i in range(1, n):
        if x[i] > my_max:         # If the current element is larger than the stored maximum,
            my_max = x[i]         # then replace it.
    return my_max

In [5]:
a = [ 999, 131, -542, 1022, 1021, 45, 77]

In [6]:
MAX(a)

1022

### 3. A function that finds the repeated values (set):

In [7]:
def FIND_SAME(x):
    n = len(x)
    result = set()                     # Initialize an empty 'result' set.
    for i in range(0, n-1):            # Iterate on i from 0 to n-2.
        for j in range(i + 1, n):      # Iterate on j from i+1 to n-1.
            if x[i] == x[j]:           # If a repetition is detected,
                result.add(x[i])       # include it to the 'result' set.
    return list(result)

In [8]:
a = ['Tom', 'Jerry', 'Mike','Sara','Tom','Sara', 'John']

In [9]:
FIND_SAME(a)

['Sara', 'Tom']

In [10]:
b = [1,1,1,2,3,4,2,3,5,6,7,8,9,4]

In [11]:
FIND_SAME(b)

[1, 2, 3, 4]

### 4. A function that finds the repeated values (dictionary):

In [12]:
def FIND_SAME_DICT(x):
    my_dict = {}                       # An empty dictionary.
    for name in x:                     # Iterate over each element of the list.
        if name in my_dict:            # If the element is already included as dictionary key,
            my_dict[name] += 1         # increase the corresponding value by 1.
        else:                          # if not,
            my_dict[name] = 1          # Include the new key:value pair with the value set to 1.
    result = []
    for name in my_dict:               # Iterate over the dictionay keys.
        if my_dict[name] >= 2:         # If the corresponding value is larger than 2, it is recognized as repetition
            result.append(name)        # and append the key to the output list.
    return result

In [13]:
FIND_SAME_DICT(a)

['Tom', 'Sara']

In [14]:
FIND_SAME(b)

[1, 2, 3, 4]

### 5. Binary search:

In [15]:
# input:  a = list, x = searched value.
# output: position of the searched value. If not found, return -1.
#
def binary_search(a, x):
    # 'left' and 'right' determines the search range.
    left = 0
    right = len(a) - 1
    while left <= right:              # Keep searching while there is non-zero range left.
        mid = (left + right)//2      # Middle of the search range. Floor division applied.
        if x == a[mid]:              # Found!
            return mid
        elif x > a[mid]:             # If the searched value is larger than the middle value,
            left = mid + 1           #  reduce the search range to the right half.
        else:                        # If the searched value is samller than the middle value
            right = mid - 1          #  reduce the search range to the left half.
    return -1                        # When the search was not successful.

In [16]:
d = [1,4,9,16,25,36,49,64,81]

In [17]:
binary_search(d,36)

5

In [18]:
binary_search(d,50)

-1